html
  body
    .header
      h3.text-muted NPM Browser
    .jumbotron
      h1 You now have NPM in your browser
      p.lead
        br
        | Don't believe me?  Turn off your Internet connection.
      p
        | {{docCount}}/{{remoteDocCount}} packages synced from &#20;
        a(ng-href='{{couchdbUrl}}') {{couchdbUrl}} &#20;
        span(ng-hide="syncComplete")
          | so far&hellip;
        span(ng-show="syncComplete")
          | .  Done!

    .footer
      p
        | Brought to you by &#20;
        a(href='http://pouchdb.com') PouchDB
        | .
