html(ng-controller="MainCtrl")
  body
    .jumbotron
      h1 You now have NPM in your browser.
      p.lead
        br
        | Don't believe me?  Turn off your Internet connection.
        small
          br
          | {{docCount}}/{{remoteDocCount}} packages synced from &#20;
          a(ng-href='{{couchdbUrl}}') {{couchdbUrl}} &#20;
          span(ng-hide="syncComplete")
            | so far&hellip;
          span(ng-show="syncComplete")
            | .  Done!

    table.table.table-striped
      thead
        tr
          td.pull-left
            button.btn(ng-click="previousPage()", ng-show="pageStack.length > 0")
              | Previous page
          td
          td.pull-right
            button.btn.btn-primary(ng-click="nextPage()", ng-show="page.length == 10")
              | Next page
        tr
          th Name
          th Description
          th Maintainers
      tbody
        tr(ng-repeat="doc in page")
          td
            a(ng-href="https://www.npmjs.org/package/{{doc.name}}", href="#", target="_blank")
              | {{doc.name}}
          td {{doc.description || '(None)'}}
          td {{doc.maintainersString || '(None)'}}

    .footer
      p
        | Brought to you by &#20;
        a(href='http://pouchdb.com') PouchDB
        | . You can &#20;
        a(href='https://github.com/nolanlawson/browser-npm') fork this project on GitHub
        | .
