.input-group {
    max-width: 200px;
    min-width: 125px;
}

@media (max-width: 767px) {
    .jumbotron h1 {
        font-size: 24px;
    }
    .jumbotron p {
        font-size: 18px;
    }
    .jumbotron {
        padding: 8px 18px;
    }
    td {
      /* else columns are too wide */
      word-break: break-word;
    }
    .btn {
      font-size: 12px;
    }
}

td.fixed-width {
  width: 150px;
}