.input-group .form-control {
    min-width: 125px;
    max-width: 200px;
}

@media (max-width: 767px) {
    .jumbotron h1 {
        font-size: 24px;
    }
    .jumbotron p {
        font-size: 18px;
    }
    .jumbotron {
        padding: 8px 18px;
    }
    .btn {
      font-size: 12px;
    }
    td,th { 
      font-size: 12px;
    }
    .input-group .form-control {
        font-size: 12px;
    }
}

td.fixed-width {
  width: 150px;
}

img.gravatar {
    width: 32px;
    height: 32px;
}

@media (min-width: 768px) {
    .details-body {
        margin: 0 100px 0 50px;
    }
    .jumbotron.details-jumbotron {
        padding: 20px 50px;
    }

    .detail-container {
        margin-right:auto;
        margin-left:100px;
    }
    .input-group .form-control {
        max-width: 250px;
    }
}

.maintainer {
    margin-top: 2px;
}